{% if content %}
	{{ content }}
{% endif %}


<!-- Start Event Area
																							    ============================================= -->
<div class="event-area carousel-shadow default-padding bottom-less bg-gray">
	<div class="container">
		<div class="heading-left">
			<div class="row">
				<div class="col-lg-6 left-info">
					<h5>Upcoming Events</h5>
					<h2>
						Join to our upcoming event and get involved
					</h2>
				</div>
				<div class="col-lg-6 right-info">
					<p>
						Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression.
					</p>
					<a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All
						<i class="fas fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div
			class="event-grid-items">
			<!-- Single Item  -->
			<div class="item">
				<div class="row">
					<div class="thumb col-lg-5" style="background-image: url({{ directory }}/assets/img/event/1.jpg);">
						<div class="date">
							12
							<strong>Aug</strong>
						</div>
					</div>
					<div class="info col-lg-7">
						<h4>
							<a href="#">Healty Food For Poor People</a>
						</h4>
						<p>
							Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible.
						</p>
						<ul class="date">
							<li>
								<i class="fas fa-clock"></i>
								10:00 AM - 18:00 PM
							</li>
							<li>
								<i class="fas fa-calendar-alt"></i>
								800 Loring Ave, Estancia
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Single Item  -->
			<!-- Single Item  -->
			<div class="item">
				<div class="row">
					<div class="thumb col-lg-5" style="background-image: url({{ directory }}/assets/img/event/2.jpg);">
						<div class="date">
							05
							<strong>Sep</strong>
						</div>
					</div>
					<div class="info col-lg-7">
						<h4>
							<a href="#">Water Facilities for People</a>
						</h4>
						<p>
							Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible.
						</p>
						<ul class="date">
							<li>
								<i class="fas fa-clock"></i>
								08:30 AM - 17:045 PM
							</li>
							<li>
								<i class="fas fa-calendar-alt"></i>
								800 Loring Ave, Estancia
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Single Item  -->
			<!-- Single Item  -->
			<div class="item">
				<div class="row">
					<div class="thumb col-lg-5" style="background-image: url({{ directory }}/assets/img/event/3.jpg);">
						<div class="date">
							29
							<strong>Dec</strong>
						</div>
					</div>
					<div class="info col-lg-7">
						<h4>
							<a href="#">Lifeskills for Children in South Africa</a>
						</h4>
						<p>
							Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible.
						</p>
						<ul class="date">
							<li>
								<i class="fas fa-clock"></i>
								09:45 AM - 15:30 PM
							</li>
							<li>
								<i class="fas fa-calendar-alt"></i>
								800 Loring Ave, Estancia
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Single Item  -->
		</div>
	</div>
</div>
<!-- End Event Area -->

<!-- Start Testimonials
																							    ============================================= -->
<div class="testimonials-area carousel-shadow default-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="site-heading text-center">
					<h5>Testimonials</h5>
					<h2>
						What people say
						<br>
						About Poora
					</h2>
					<div class="heading-divider"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div
					class="testimonial-items testimonial-carousel owl-carousel owl-theme">
					<!-- Single Item  -->
					<div class="item">
						<div class="info">
							<div class="top-info">
								<i class="flaticon-left-quote-1"></i>
								<div class="provider">
									<h4>Jeckey Pura</h4>
									<span>Volunteer</span>
								</div>
							</div>
							<p>
								Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh.
							</p>
						</div>
					</div>
					<!-- End Single Item  -->
					<!-- Single Item  -->
					<div class="item">
						<div class="info">
							<div class="top-info">
								<i class="flaticon-left-quote-1"></i>
								<div class="provider">
									<h4>Benil Sraw</h4>
									<span>Volunteer</span>
								</div>
							</div>
							<p>
								Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh.
							</p>
						</div>
					</div>
					<!-- End Single Item  -->
					<!-- Single Item  -->
					<div class="item">
						<div class="info">
							<div class="top-info">
								<i class="flaticon-left-quote-1"></i>
								<div class="provider">
									<h4>Adam Blaur</h4>
									<span>Volunteer</span>
								</div>
							</div>
							<p>
								Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh.
							</p>
						</div>
					</div>
					<!-- End Single Item  -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonials Area -->

<!-- Start Gallery
																							    ============================================= -->
<div class="gallery-area bg-gray shape-less default-padding">
	<div class="container">
		<div class="heading-left">
			<div class="row">
				<div class="col-lg-6 left-info">
					<h5>What We Did</h5>
					<h2>
						Featured projects from
						<br>
						our latest causes
					</h2>
				</div>
				<div class="col-lg-6 right-info">
					<p>
						Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression.
					</p>
					<a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All
						<i class="fas fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="gallery-items-area inner-title">
					<div class="gallery-content">

						<div class="magnific-mix-gallery masonary">
							<div id="portfolio-grid" class="gallery-items colums-3">
								<div class="pf-item">
									<div class="item-inner">
										<img src="{{ directory }}/assets/img/gallery/11.jpg" alt="Thumb">
										<div class="overlay">
											<h4>
												<a href="#">Food Served</a>
											</h4>
											<span class="cats">Poor</span>
										</div>
										<div class="view">
											<a href="{{ directory }}/assets/img/gallery/11.jpg" class="item popup-link">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="pf-item wide">
									<div class="item-inner">
										<img src="{{ directory }}/assets/img/gallery/77.jpg" alt="Thumb">
										<div class="overlay">
											<h4>
												<a href="#">Water Collect</a>
											</h4>
											<span class="cats">Poor</span>
										</div>
										<div class="view">
											<a href="{{ directory }}/assets/img/gallery/77.jpg" class="item popup-link">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="pf-item">
									<div class="item-inner">
										<img src="{{ directory }}/assets/img/gallery/33.jpg" alt="Thumb">
										<div class="overlay">
											<h4>
												<a href="#">Blood Donate</a>
											</h4>
											<span class="cats">Poor</span>
										</div>
										<div class="view">
											<a href="{{ directory }}/assets/img/gallery/33.jpg" class="item popup-link">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="pf-item">
									<div class="item-inner">
										<img src="{{ directory }}/assets/img/gallery/44.jpg" alt="Thumb">
										<div class="overlay">
											<h4>
												<a href="#">Child Education</a>
											</h4>
											<span class="cats">Poor</span>
										</div>
										<div class="view">
											<a href="{{ directory }}/assets/img/gallery/44.jpg" class="item popup-link">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="pf-item">
									<div class="item-inner">
										<img src="{{ directory }}/assets/img/gallery/55.jpg" alt="Thumb">
										<div class="overlay">
											<h4>
												<a href="#">Help Homeless</a>
											</h4>
											<span class="cats">Poor</span>
										</div>
										<div class="view">
											<a href="{{ directory }}/assets/img/gallery/55.jpg" class="item popup-link">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="pf-item">
									<div class="item-inner">
										<img src="{{ directory }}/assets/img/gallery/66.jpg" alt="Thumb">
										<div class="overlay">
											<h4>
												<a href="#">Rebuild Home</a>
											</h4>
											<span class="cats">Poor</span>
										</div>
										<div class="view">
											<a href="{{ directory }}/assets/img/gallery/66.jpg" class="item popup-link">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Gallery Area -->

<!-- Start Blog
																							    ============================================= -->
<div class="blog-area default-padding bottom-less">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="site-heading text-center">
					<h5>Latest News</h5>
					<h2>
						Stay Update with Us from
						<br>
						latest &amp; popular News
					</h2>
					<div class="heading-divider"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="blog-items">
			<div
				class="row">
				<!-- Single Item -->
				<div class="single-item col-lg-4 col-md-6">
					<div class="item">
						<div class="thumb">
							<a href="blog-single-with-sidebar.html">
								<img src="{{ directory }}/assets/img/blog/1.jpg" alt="Thumb">
								<span class="date">
									24
									<strong>Aug</strong>
								</span>
							</a>
						</div>
						<div class="info">
							<h4>
								<a href="blog-single-with-sidebar.html">Advantage frankness to concluded unwilling.
								</a>
							</h4>
							<div class="meta">
								<ul>
									<li>By
										<a href="#">Jones</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-comments"></i>
											12 Comments</a>
									</li>
								</ul>
							</div>
							<p>
								Court in of leave again as am. Greater sixteen to forming colonel no on be. So an advice hardly barton process.
							</p>
							<a class="btn-more" href="blog-single-with-sidebar.html">Read More</a>
						</div>
					</div>
				</div>
				<!-- End Single Item -->
				<!-- Single Item -->
				<div class="single-item col-lg-4 col-md-6">
					<div class="item">
						<div class="thumb">
							<a href="blog-single-with-sidebar.html">
								<img src="{{ directory }}/assets/img/blog/2.jpg" alt="Thumb">
								<span class="date">
									18
									<strong>Sep</strong>
								</span>
							</a>
						</div>
						<div class="info">
							<h4>
								<a href="blog-single-with-sidebar.html">Extremely depending he gentleman improving.</a>
							</h4>
							<div class="meta">
								<ul>
									<li>By
										<a href="#">Spark</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-comments"></i>
											26 Comments</a>
									</li>
								</ul>
							</div>
							<p>
								Court in of leave again as am. Greater sixteen to forming colonel no on be. So an advice hardly barton process.
							</p>
							<a class="btn-more" href="blog-single-with-sidebar.html">Read More</a>
						</div>
					</div>
				</div>
				<!-- End Single Item -->
				<!-- Single Item -->
				<div class="single-item col-lg-4 col-md-6">
					<div class="item">
						<div class="thumb">
							<a href="blog-single-with-sidebar.html">
								<img src="{{ directory }}/assets/img/blog/3.jpg" alt="Thumb">
								<span class="date">
									05
									<strong>Jul</strong>
								</span>
							</a>
						</div>
						<div class="info">
							<h4>
								<a href="blog-single-with-sidebar.html">Going as by do known noise he wrote round.</a>
							</h4>
							<div class="meta">
								<ul>
									<li>By
										<a href="#">Mohin</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-comments"></i>
											05 Comments</a>
									</li>
								</ul>
							</div>
							<p>
								Court in of leave again as am. Greater sixteen to forming colonel no on be. So an advice hardly barton process.
							</p>
							<a class="btn-more" href="blog-single-with-sidebar.html">Read More</a>
						</div>
					</div>
				</div>
				<!-- End Single Item -->
			</div>
		</div>
	</div>
</div>
<!-- End Blog Area -->
