<div
	class="hibiscus">
	<!-- Header -->
	<header id="home">
		{{page.header}}
		{{page.navbar}}
	</header>

	<!-- Slider -->
	{{page.slider}}

	<!-- Main Content -->
	<div class="content">
		{{ page.content }}
	</div>

	<!-- Footer -->
	<footer>
		{{ page.footer }}
	</footer>
</div>
