<!-- Single Item -->
<div class="single-item col-lg-4 col-md-6">
	<div class="item">
		<div class="thumb">
			<a href="{{node_url}}">
				<img src="{{ blog_cover_image_url }}" alt="Thumb">
				<span class="date">
					24
					<strong>Aug</strong>
				</span>
			</a>
		</div>
		<div class="info">
			<h4>
				<a href="{{node_url}}">
					{{ content.field_blog_title }}
				</a>
			</h4>
			<div class="meta">
				<ul>
					<li>By
						<a href="#">
							{{ content.field_blog_author }}
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fas fa-comments"></i>
							12 Comments
						</a>
					</li>
				</ul>
			</div>
			<p>
				{{ blog_description_snippet }}
			</p>
			<a class="btn-more" href="{{node_url}}">Read More</a>
		</div>
	</div>
</div>
<!-- End Single Item -->
